VITE_SUPABASE_URL=https://wgxyrjavgwzebjvajqes.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndneHlyamF2Z3d6ZWJqdmFqcWVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMTczMzIsImV4cCI6MjEwNTc5MzMzMn0.qG4xr2Y1Eigxd2p0sR_UhbPxzTB2OFztpgeGK0-1VKw
VITE_API_URL=https://stockmaster-backend-c1c6.onrender.com/api
